[submodule "Spatial_Audio_Framework"]
	path = Spatial_Audio_Framework
	url = https://github.com/leomccormack/Spatial_Audio_Framework.git
[submodule "allolib"]
	path = allolib
	url = https://github.com/AlloSphere-Research-Group/allolib.git
[submodule "al_ext"]
	path = al_ext
	url = https://github.com/AlloSphere-Research-Group/al_ext.git
